.wrapper {
  padding: 0;
  user-select: none;
  position: relative;
  height: 40px;

  & > * {

    height: 100%;
    width: 100%;
  }

  .rightTab {
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 2px;
    bottom: 2px;
    cursor: none;
    z-index: 0;
  }

  .numberWrapper {
    &::-webkit-inner-spin-button {
      top: 0;
      right: 0;
      transform: translateY(-40%);
    }
  }

  .numberWrapper {
    padding-top: 0 ;
  }

  //.numberWrapper::-webkit-outer-spin-button {
  //  margin: 0;
  //  position: absolute;
  //}
}


div label input {
  margin-right: 100px;
}

body {
  font-family: sans-serif;
}

.toggleButton {
  user-select: none;
  position: relative;
  margin: 4px;
  background-color: inherit;
  border: none;
  overflow: hidden;
  float: left;
}


.toggleButton label span {
  display: block;
  height: 24px;
  cursor: pointer;
  font-size: 9px;
  text-align: center;
  padding: 3px 0px;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 11px;
  transition: background-color .2s, color .1s;

}

.toggleButton label span:before {
  content: "";
  display: block;
  height: 17%;
}

.toggleButton input {
  border: none;
  position: absolute;
  top: -20px;
}

.toggleButton input:checked + span {

  border: none !important;
  background-color: #0A65FF;
  color: #fff;
}