@import "src/variablesGlobal";

.wrapper {
  position: relative;
  //подивись у глобальні змінні на $headerHeight $subHeader
  height: calc(100vh - 34px - 50px);
  margin-left: $marginSide;
  display: flex;

  .left {
    width: 100%;

    .leftHeader {
      margin-left: $marginSide + 60px;
      margin-top: $headerProductTableMargin;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
    }

    .leftLine {

    }

    .lineCategory {
      width: fit-content;
    }
    .lineCheckbox{
      margin-right: 15px;
    }
  }
}